# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.idea/

# General
*.iml
*.g.dart
*.freezed.dart

# Ignore all content in the build directory...
build/*

# ...except for the release APK
!build/app/
build/app/*
!build/app/outputs/
build/app/outputs/*
!build/app/outputs/flutter-apk/
build/app/outputs/flutter-apk/*
!build/app/outputs/flutter-apk/app-release.apk
