# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.idea/

# General
build/
*.iml
*.g.dart
*.freezed.dart

# Keep the release APK
!/build/app/outputs/flutter-apk/app-release.apk
